# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# stuff
#
Makefile
.deps
apertium-fin.pc
config.log
config.status
fin.autogen.att.gz
fin.autogen.hfst
fin.automorf.att.gz
fin.automorf.hfst
fin.rlx.bin
modes
test-driver
