<nav>
<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a class="external" href="//github.com/flammie/apertium-fin/#readme">README</a></li>
    <li><a href="{{ site.baseurl }}/statistics.html">Statistics</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin.fin.dix.html">
            Finnish dictionary</a><ul>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-a.html#a">A</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-b.html#b">B</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-c.html#c">C</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-d.html#d">D</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-e.html#e">E</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-f.html#f">F</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-g.html#g">G</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-h.html#h">H</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-i.html#i">I</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-j.html#j">J</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-k.html#k">K</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-l.html#l">L</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-m.html#m">M</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-n.html#n">N</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-o.html#o">O</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-p.html#p">P</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-q.html#q">Q</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-r.html#r">R</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-s.html#s">S</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-t.html#t">T</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-u.html#u">U</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-v.html#v">V</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-w.html#w">W</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-x.html#x">X</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-y.html#y">Y</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-z.html#z">Z</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-å.html#å">Å</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-ä.html#ä">Ä</a></li>
            <li><a href="{{ site.baseurl }}/apertium-fin/apertium-fin.fin.dix-ö.html#ö">Ö</a></li>
        </ul></li>
</ul>
</nav>
</ul>
</nav>
